.DS_Store?
.DS_Store
*.old
*.old/*
*.new
*.new/*
old
old/*
*[a-z].1
*[a-z].1/*
sess_*
*.cache
*.swp
*.swo
wire
tmp
upgrade.php
.idea
.svn
.sass-cache
.sass-cache/*
*.css.map
wire/modules/AdminTheme/AdminThemeDefault/styles/sass/*.css
static-export-from-1.10-modix/
static-export-from-1.10-modix/*
